---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: clean-up-pyc-and-pyo-files
        name: Scrub all .pyc and .pyo files before committing
        entry: ./.hook-scripts/clean-up-pyc-and-pyo-files
        language: script
      - id: python-tests
        name: Run python tests
        entry: ./.hook-scripts/run-python-tests
        language: script

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: "25.11.0"
    hooks:
      - id: black

  - repo: https://github.com/pycqa/flake8
    rev: '7.3.0'
    hooks:
      - id: flake8

  - repo: https://github.com/thlorenz/doctoc
    rev: v2.2.0
    hooks:
      - id: doctoc

  - repo: https://github.com/python-poetry/poetry
    rev: "2.2.1"
    hooks:
      - id: poetry-check
